

@media only screen and (max-width: 1805px){


    .main-content{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    h1{
        font-size: 55px;
    }

    .main-p{
        
        
        font-size: 55px;
        
    }

    .skumavky{
        width: 533px;
        
        margin-bottom: 200px;
    }


    .top-content-pos{
        border-bottom: 5px red dotted;
    }

   .top-content-pos,
   .bottom-content-pos{
    flex-direction: column-reverse;
    align-items: center;
    margin: 0;
    gap: 20px;
    

    
   }

   .middle-content-pos {
    flex-direction: column;
    align-items: center;
    margin: 0;
    gap: 20px;
    border-bottom: 5px red dotted;
    
   }
   .text-pos-right{
    margin: 0;
   }
   .footer-motto{
   font-size: 35px;
    }

    .footer-logo{
        width: 200px;
    }
}

@media only screen and (max-width: 1005px){

    .main-p{
        font-size: 40px;
    }

    .skumavky{
        width: 350px;
    }

    .laboratory-button{
        margin-top: 50px;
    }

    h2{
        font-size: 35px;
    }

    .rack-def{
        font-size: 25px;
    }

    .rack,
    .rack1,
    .rack2{
        width: 200px;
    }

    .top-content{
        flex-direction: column;
    }

    .footer-logo,
    .social-position{
        margin: 0;
    }
    
    .header-right{
        display: none;
    }

    #header-mobile{
        display: block;
        z-index: 2;
       }
      
      #menu-bar {
        width: 45px;
        height: 40px;
        margin: 50px 20px 20px 20px;
        cursor: pointer;
      }
      
      .bar {
        height: 5px;
        width: 100%;
        background-color: #DC052D;
        display: block;
        border-radius: 5px;
        transition: 0.3s ease;
      }
      
      #bar1 {
        transform: translateY(-4px);
      }
      
      #bar3 {
        transform: translateY(4px);
      }
      
      .nav {
        transition: 0.3s ease;
        display: none;
      }
      
      .nav ul {
        padding: 0 22px;
      }
      
      .nav li {
        list-style: none;
        padding: 12px 0;
      }
      
      .nav li a {
        color: rgb(255, 255, 255);
        font-size: 20px;
        text-decoration: none;
      }
      
      .nav li a:hover {
        font-weight: bold;
      }
      
      .menu-bg, #header-mobile {
        right: 0;
        top: 0;
        position: absolute;
      }
      
      .menu-bg {
        z-index: 1;
        width: 0;
        height: 0;
        margin: 30px 0 20px 20px;
        background: radial-gradient(circle, #000000, #000000);
        border-radius: 50%;
        transition: 0.3s ease;
        display: block;
      }
      
      .change {
        display: block;
      }
      
      .change .bar {
        background-color: #ff0000;
      }
      
      .change #bar1 {
        transform: translateY(4px) rotateZ(-45deg);
      }
      
      .change #bar2 {
        opacity: 0;
      }
      
      .change #bar3 {
        transform: translateY(-6px) rotateZ(45deg);
      }
      
      .change-bg {
        width: 520px;
        height: 460px;
        transform: translate(50%,-30%);
      }

      .nav ul li .register{
        color: #DC052D;
      }

      .nav ul li .register:hover{
        text-shadow: none;
      }


}


@media only screen and (max-width: 400px){

    .main-p{
        font-size: 30px;
    }

    
}