@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');
/* font-family: 'Roboto', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@700&display=swap');
/* font-family: 'Kanit', sans-serif; */

html,
body{
    height: 100%;
    margin: 0;
    font-family: 'Kanit', sans-serif;
}


.split-screen{
    height: 100%;
    width: 100%;
    display: flex;
}


.left-side{
    width: 50%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.823);
}

.left-side-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    color: white;
    cursor: url(./Images/git\ logo\ cursor.png), auto;
}


.right-side{
    width: 50%;
    height: 100%;

    background-color: rgb(255, 255, 255);
}

.right-side-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    cursor: url(./Images/github\ logo\ cursor.png), auto;
    
}

.logo{
    height: 300px;
    width: 300px;
}

.left-side-box{
    display: flex;
    flex-direction: column;
    width: 700px;
    height: 300px;
    position: absolute;
    opacity: 0;
}

.left-side-content:hover .transition-to-top{
    transition: 4s;
    opacity: 1; 
}


.left-side-content:hover .transition-to-hidden{
    transition: 1s;
    opacity: 0; 
}


.logo-top{
    height: 300px;
    width: 300px;

}

.transition-to-top{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
    color: white;
    position: absolute;
    opacity: 0;
}

.transition-to-hidden{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    color: white;
    position: absolute;
 
}

.after-transition-content{
display: flex;
flex-direction: column;
justify-content: center;
width: 700px;
height: 200px;


}
