@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');
/* font-family: 'Roboto', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@700&display=swap');
/* font-family: 'Kanit', sans-serif; */

html,
body{
    height: 100%;
    margin: 0;
    font-family: 'Kanit', sans-serif;
}






.split-screen{
    height: 100%;
    width: 100%;
    display: flex;
}

.logo{
    height: 300px;
    width: 300px;

}

h1{
   filter: drop-shadow(0px 0px 0px #ffffff33);
}

h2{
    font-size: 2em;
}

h3{
    font-size: 25px;
}

p{
    font-size: 20px;
}





                    /* Left Side */
                /*                  */
            /*                          */
        /*                                  */
    /*                                          */
/*                                                  */
.left-side{
    width: 50%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.823);
}

.left-side-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    color: white;
    cursor: url(./Images/git\ logo\ cursor.png), auto;

}

.left-side-translate{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-shadow: 2px 2px 2px #DE4C36;
    
    transition: translate 1.5s;

}



.left-side-content:hover .left-side-translate{
    translate: 0px -250px
}


.left-side-aftranslate{
    position: absolute;
    opacity: 0;
    width: 600px;
    padding-top: 120px;
}

.left-side-content:hover .left-side-aftranslate{
    transition: 1s;
    transition-delay: 800ms;
    opacity: 1;
    padding-top: 222px;
}

.left-side-conheader{
    display: flex;
    justify-content: center;
    text-shadow: 2px 2px 2px #DE4C36;
    

}

.left-side-button-pos{
    display: flex;
    position: absolute;
    padding-top:700px;

}

.left-side-button{
    height: 50px;
    width: 150px;
    font-family: 'Kanit', sans-serif;
    border-radius: 15px;
    border: 0px;
    font-size: 20px;
    background-color: #DE4C36;
    opacity: 0;
    cursor: pointer;
    
}


.left-side:hover .left-side-button{
    transition: 1s;
    transition-delay: 800ms;
    opacity: 1;
}


/* ----------------------------END------------------------------ */





                    /* Right Side */
                /*                   */
            /*                          */
        /*                                 */
    /*                                         */
/*                                                 */
.right-side{
    width: 50%;
    height: 100%; 

    background-color: rgb(255, 255, 255);
}

.right-side-content{
     display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    cursor: url(./Images/github\ logo\ cursor.png), auto;
    
}

.right-side-translate{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-shadow: 2px 2px 2px  rgb(56, 55, 55);
    
    transition: translate 1.5s;
}

.right-side-content:hover .right-side-translate{
    translate: 0px -250px;

}

.right-side-aftranslate{
    opacity: 0;
    position: absolute;
    width: 600px;
    padding-top: 120px;
}


.right-side:hover .right-side-aftranslate{
    transition: 1s;
    transition-delay: 800ms;
    opacity: 1;
    padding-top: 222px;
}

.right-side-conheader{
    display: flex;
    justify-content: center;
    text-shadow: 2px 2px 2px  rgb(56, 55, 55);
    font-size: 25px;
}

.right-side-button-pos{
    display: flex;
    position: absolute;
    padding-top:700px;

}

.right-side-button{
    height: 50px;
    width: 150px;
    font-family: 'Kanit', sans-serif;
    color: white;
    border-radius: 15px;
    border: 0px;
    font-size: 20px;
    background-color: #000000;
    opacity: 0;
    cursor: pointer;
}

.right-side:hover .right-side-button{
    transition: 1s;
    transition-delay: 800ms;
    opacity: 1;
}



                    /* Responsive */
                /*                   */
            /*                          */
        /*                                 */
    /*                                         */
/*                                                 */


/* ------------------Laptop------------------ */

@media screen and (max-width: 1024px) {
    .right-side-aftranslate{
        width: 400px;

    }

    .left-side-aftranslate{
        width: 400px;
    }

    
}

/* ------------------Tablet------------------ */


@media screen and (max-width: 768px) {
    .right-side-aftranslate{
        width: 300px;

    }

    .left-side-aftranslate{
        width: 300px;
    }

    .logo{
        width: 250px;
        height: 250px;
    }

    .left-side-conheader{
        font-size: 20px;
    }

    .right-side-conheader{
        font-size: 20px;
    }

    
}


/* ------------------Mobile L------------------ */



@media screen and (max-width: 425px){
    
    .split-screen{  
        flex-direction: column;
    }

/* -----------------TOP side------------------ */
    .left-side{
        width: 100%;
        height: 250%;
    }

    .logo{
        height: 150px;
        width: 150px;
    }

    .left-side-content:hover .left-side-aftranslate{
        padding-top: 100px;
        
    }

   
    
    

   

/* -----------------Bottom side------------------ */

    .split-screen{
        height: 1560px;
    }


    .right-side{
        width: 100%;
        height: 250%;
       
    }

    

}



/* ------------------Random Breakpoint------------------ */


@media screen and (max-width: 630px){

    .split-screen{  
        flex-direction: column;
    }

/* -----------------TOP side------------------ */
    .left-side{
        width: 100%;
        height: 250%;
    }

    .logo{
        height: 150px;
        width: 150px;
    }

    .left-side-content:hover .left-side-aftranslate{
        padding-top: 100px;
        
    }

   
    
    

   

/* -----------------Bottom side------------------ */

    .split-screen{
        height: 1560px;
    }


    .right-side{
        width: 100%;
        height: 250%;
       
    }

    

}

    








/* ----------------------------END------------------------------ */