@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;900&display=swap');






/* sirka a vyska posuvnika s drahou */
::-webkit-scrollbar {
    width: 0.5rem;

}

/* draha posuvnika */
::-webkit-scrollbar-track {
    background: transparent;

}

::-webkit-scrollbar-track:horizontal {
    background: red;
}
 
/* posuvnik */
::-webkit-scrollbar-thumb {
    background: rgb(255, 0, 0);
    border-radius: 0.469rem;
}



/* posuvnik pod kurzorom */
::-webkit-scrollbar-thumb:hover {
    background: rgb(248, 82, 82); 
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    font-weight: 900;
    text-transform: uppercase;
    background-color: rgb(241, 239, 239);
    overflow-x: hidden;
    

}






/* ----------------------------Section 1------------------------------ */

.section-1{
   border-bottom: 5px red double;
   border-radius: 100px;
    
}

.header{

    min-width: 100vw;
    height: 9.75rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-con{

    width: 82.375rem;
    height: 7.75rem;
    display: flex;
    justify-content: space-between;
}

.lab-logo{
    width: 12.25rem;
}


.header-right{
    display: flex;
    
    align-items: center;
}

#header-mobile{
    display: none;
   }

.menu-bg{
    display: none;
}



.pc{
    display: flex;
    gap: 3.125rem;
    font-size: 1.25rem;
    
}

a{
    
    text-decoration: none;
    color: rgb(0, 0, 0);
    transition: 150ms linear;
}

a:hover{
    text-shadow: 0 1px 0 rgb(255, 0, 0),
               0 2px 0 #ff0000,
               0 3px 0 rgb(255, 0, 0),
               0 4px 0 #ff0000,
               0 5px 0 rgb(255, 0, 0),
               0 6px 1px rgba(0, 0, 0, 0.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 20px 20px rgba(0,0,0,.15);
    color: rgb(255, 255, 255);
}

.header-button-gap{
    display: flex;
    align-items: center;
    gap: 1.625rem;
}

.register-button{
    width: 11.25rem;
    height: 4.563rem;
    background-color: rgb(255, 0, 0);
    border-radius: 100px;
    color: rgb(255, 255, 255);
    font-size: 1.25rem;
    font-family: 'Inter', sans-serif;
    font-weight: 900;
    border: none;
    cursor: pointer;
    transition: 200ms linear;
    margin-left: 3.125rem;
}


.register-button:hover{
    box-shadow: 2px 1px 10px 1px black;
    
}

.dark-mode{
    width: 2.625rem;
    height: 2.563rem;
}


.main-content{
    display: flex;
    flex-shrink: 2;
    justify-content: center;
    margin-top: 7.5rem;
    gap: 45px;
}


.left-content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0;
    
}

h1{
    color: red;
    font-size: 64px;
    margin: 0;
    align-self: center;
    text-align: center;
}

.main-p{
    max-width: 1027px;

    font-size: 64px;
    text-align: center;
    margin: 0;
    margin-top: 56px;
}

.laboratory-button{
    width: 306px;
    height: 88px;
    background-color: rgb(255, 0, 0);
    border-radius: 100px;
    color: rgb(255, 255, 255);
    font-size: 26px;
    font-family: 'Inter', sans-serif;
    font-weight: 900;
    border: none;

    margin-top: 98px;
    align-self: center;
    transition: 200ms linear;
    cursor: pointer;
}

.laboratory-button:hover{
    box-shadow: 2px 1px 10px 1px black;
    
}

.skumavky{
    width: 677px;
    float: right; 
    margin-bottom: 50px ;
}

/* ----------------------------Section 2------------------------------ */
.section-2{
    border-top: 5px red double;
    border-radius: 100px;
    border-bottom: 5px red double;
    
    
     
 }


.top-content-pos{
    display: flex;
    justify-content: center;
    gap: 299px;
    margin-top: 100px;
    position: relative;
}

.rack{
    width: 350px;
}



.text-pos-right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h2{
    
    color: red;
    font-size: 50px;
    margin: 0;
    align-self: center;
    justify-self: center;
    max-width: 837px;
    text-align: center;
    padding-top: 75px;
    

}

.rack-def{
    font-size: 35px;
    text-align: center;
    max-width: 672px;
   
}

.arrow{
    position: absolute;
    width: 400px;
    left: 26%;
    top: 90%;
}




.middle-content-pos{
    display: flex;
    justify-content: center;
    gap: 299px;
    margin-top: 200px;
    margin-right: 287;
    position: relative;
}




.text-pos-left{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    
}

.arrow1{
    
    position: absolute;
    width: 400px;
    rotate: 90deg;
    top: 70%;
    right: 35%;
    
}

.bottom-content-pos{
    display: flex;
    justify-content: center;
    gap: 299px;
    margin-top: 200px;
    position: relative;
}



/* ----------------------------Section 3------------------------------ */

.section-3{
    border-top: 5px red double;
    
    border-radius: 100px;
    
    max-height: 300px;
    
     
 }

 .section-content{
    display: flex;
    max-width: 100%;
    justify-content: center;
    flex-direction: column;
 }
 .top-content{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 30px;
    margin-right: 20px;
    margin-left: 50px;
 }

 .footer-motto{
    display: flex;
    font-size: 45px;
    padding-top: 50px;
    margin: 20px;
    
    
 }


 .social-position{
    display: flex;
    flex-direction: column;
    margin: 10px;
    margin-right: 120px;
    gap: 45px;
 }

 .github-logo{
    width: 75px;
    height: 75.75px;

 }
 .github-logo:hover{
    animation: spin 2s ease;
 }

@keyframes spin {

    from {
        transform: rotateY(0deg);
    }

    to {
        transform: rotateY(359deg);
    }
    
}

 .discord-logo{
    width: 75px;
    
    
 }

 .discord-logo:hover{
    animation: spin 2s ease;
 }

 .footer-logo{
    width: 300px;
    margin-right: 61px;
 }

 .bottom-content{
    text-align: center;
    font-size: 30px;
    margin-top: 10px;
 }

 .text-red{
    color: #ff0000;
 }




/* ----------------------------Responsive------------------------------ */



/* ---------------Laptop L----------------- */







/* ----------------------------END------------------------------ */